body{
    font-family: sans-serif;
    background-color: white;
}

h2 {
    text-align: center;
}
.sidebar {
    width: 350px;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.05);
}

form {
    display: none;
    background-color: white;
    padding: 10px;
}

.languages {
    position: absolute;
    padding: 0;
    right: 10px;
}
/*Выбор языка*/
.languages li{
    list-style: none;
    display: inline;
    text-transform: uppercase;
}

a {
    outline: none;
    text-decoration: none;
}
.photo {
    width: 100%;
    position: relative;
}

#photo {
    width: 100%;
}

#delete-photo {
    position: absolute;
    top: 5px;
    right: 10px;
    color: red;
}
