body{
    font-family: sans-serif;
}
#form {
    display: none;
    background-color: white;
    padding: 10px;
}

.languages {
    position: absolute;
    padding: 0;
    right: 10px;
}
/*Выбор языка*/
.languages li{
    list-style: none;
    display: inline;
    text-transform: uppercase;
}
