body {
    font-family: sans-serif;
    background-color: white;
}
/*на всю ширину страиницы*/
.container-fluid {
    margin: 0;
    padding: 0;
}
.row {
    margin: 0;
    padding: 0;
}

/*Выбор языка*/
.languages li{
    list-style: none;
    display: inline;
}

.logo {
    width: 15%;
    position: absolute;
    left: 10%;
}
/*Навигация*/
.menu {
    height: 100px;
}
.header-nav{
    position: absolute;
    right: 5px;
}
nav, nav ul{
    display: inline-block;
}

nav li {
    list-style: none;
    display: inline-block;
    margin: 0 5px 0 5px;
    text-transform: uppercase;
    font-family: sans-serif;
}

ul.submenu {
    display: none;
    padding: 0;
    text-align: center;
    position: absolute;
    width: 120px;
    top: 30px;
    left: 30%;
    background-color: white;
}
ul.submenu > li {
    display: block;
}

ul.submenu > li > a {
    display: block;
    /*padding: 10px;*/
    text-decoration: none;
}

.banner {
    position: relative;
}
.main-banner {
    width: 100%;
}

.title-banner {
    width: 100%;
    display: block;
    position: absolute;
    top: 40%;
}

.banner h1 {
    font-size: 70px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
}

#info{
    background-color: black;
    color: white;
}
#info div {
    padding: 0;
}
#info h2 {
    text-decoration: underline;
}

/*Карта*/
#map {
    width: 100%;
    height: 300px;
}
footer {
    background-color: black;
}

/*Кнопки соц сетей*/
.social li{
    display: inline-block;
    margin: 0 5px 0 5px;
    list-style: none;
    text-transform: uppercase;
    font-family: sans-serif;
}

.footer-nav {
    padding-top: 10px;
}
.footer-nav ul {
    padding: 0;
    margin-left: 10px;
}
.footer-nav li {
    margin: 0 10px 0 0;
}
.adress p{
    margin-left: 10px;
}

/*Страница с отдельным экспонатом*/

h2 {
    text-align: center;
}

#text {
    margin-bottom: 20px;
}

.exhibit {
    position: relative;
    margin: 0 auto;
    width: 95%;
    background-color: black;
    margin-bottom: 30px;
    border-radius: 11px;
    color: white;
    text-align: right;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.exhibit img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.exhibit h4 {
    text-align: center;
    color: #636b6f;
}

.text {
    text-align: left;
    margin: 20px;
}

.model-3d {
    background: url('../img/3dmodel_background.jpg') no-repeat;
    background-size: 100%;
    background-color: black;
}
