body {
    font-family: sans-serif;
}
/*на всю ширину страиницы*/
.container-fluid {
    margin: 0;
    padding: 0;
}
.row {
    margin: 0;
    padding: 0;
}

/*Выбор языка*/
.languages li{
    list-style: none;
    display: inline;
}

/*Навигация*/
.menu {
    height: 30px;
}
.header-nav{
    position: absolute;
    right: 5px;
}
nav, nav ul{
    display: inline-block;
}

nav li {
    list-style: none;
    display: inline-block;
    margin: 0 5px 0 5px;
    text-transform: uppercase;
    font-family: sans-serif;
}

ul.submenu {
    display: none;
    padding: 0;
    text-align: center;
    position: absolute;
    width: 120px;
    top: 30px;
    left: 30%;
    background-color: white;
}
ul.submenu > li {
    display: block;
}

ul.submenu > li > a {
    display: block;
    /*padding: 10px;*/
    text-decoration: none;
}

.main-banner {
    width: 100%;
}
/*Карта*/
#map {
    width: 100%;
    height: 300px;
}
footer {
    background-color: black;
}

/*Кнопки соц сетей*/
.social li{
    display: inline-block;
    margin: 0 5px 0 5px;
    list-style: none;
    text-transform: uppercase;
    font-family: sans-serif;
}

.footer-nav {
    padding-top: 10px;
}
.footer-nav ul {
    padding: 0;
    margin-left: 10px;
}
.footer-nav li {
    margin: 0 10px 0 0;
}
.adress p{
    margin-left: 10px;
}

/*Страница с отдельным экспонатом*/

h2 {
    text-align: center;
}

#text {
    margin-bottom: 20px;
}

.exhibit {
    margin: 0 auto;
    width: 90%;
    background-color: white;
    height: 500px;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 5px;
}

.model-3d {
    background: url('../img/3dmodel_background.jpg') no-repeat;
    background-size: 100%;
    background-color: black;
}
